body
{
    min-width: 240px !important;
    padding-top: 59px !important;
}

.list-group-item
{
    color: white;
    border-top: 0px;
    border-bottom: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th
{
    vertical-align: middle;
    text-align: center;
}

.no-border
{
    border: 0px;
}

.progress-bar-progress
{
    background-color: #ac48e2;
}

.background-info
{
    background-color: #5bc0de;
}

.background-danger
{
    background-color: #d9534f;
}

.background-progress
{
    background-color: #ac48e2;
}

.background-warning
{
    background-color: #f0ad4e;
}

.background-success
{
    background-color: #5cb85c;
}
